/* line 3, ../sass/layout.scss */
.l-wrap {
  max-width: 1100px;
  margin: 0 auto;
  position: relative; }
  /* line 2, ../sass/a-mixins.scss */
  .l-wrap:after {
    font-size: 0;
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    content: ".";
    line-height: 0; }
  /* line 13, ../sass/a-mixins.scss */
  .ie7 .l-wrap {
    zoom: 1;
    display: block; }
  /* line 9, ../sass/layout.scss */
  .l-wrap > .l-content {
    width: 77%;
    margin-left: 2%;
    margin-right: 1%; }
    @media (max-width: 940px) {
      /* line 9, ../sass/layout.scss */
      .l-wrap > .l-content {
        width: 67%; } }
    @media (max-width: 550px) {
      /* line 9, ../sass/layout.scss */
      .l-wrap > .l-content {
        width: 98%;
        margin-left: 1%;
        margin-right: 1%; } }
  /* line 22, ../sass/layout.scss */
  .l-wrap > .l-menu {
    width: 19%;
    margin-left: 1%; }
    @media (max-width: 940px) {
      /* line 22, ../sass/layout.scss */
      .l-wrap > .l-menu {
        width: 29%; } }
    @media (max-width: 550px) {
      /* line 22, ../sass/layout.scss */
      .l-wrap > .l-menu {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%; } }
  /* line 34, ../sass/layout.scss */
  .l-wrap > div {
    float: left; }
    @media (max-width: 550px) {
      /* line 34, ../sass/layout.scss */
      .l-wrap > div {
        float: none; } }

/* line 41, ../sass/layout.scss */
.l-footer {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 20px;
  margin-top: 2rem;
  /* border-top: 1px solid #838383; */ }
  /* line 46, ../sass/layout.scss */
  .l-footer > .copyright {
    background: #505050;
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    padding: 5px;
    padding: 0.5rem;
    font-size: 11px;
    line-height: 14.3px;
    /* The Fallback */
    font-size: 1.1rem;
    line-height: 1.43rem; }
